<div class="container">
    <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle></h1>

    <mat-dialog-content class="content">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="color">
                    <mat-card-header class="titulo">
                        <mat-card-title style="font-size: smaller;">DETALLE POR PROVEEDOR: <strong>{{this.data.dato3}}</strong></mat-card-title>
                        <span class="example-spacer"></span>

                        <button mat-button class="icon-button" (click)="exportTableToExcel()">
                            <mat-icon>save_alt</mat-icon>
                            exportar
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="table-container center-loading-table">
                            <table *ngIf="!loadingLotexProveedor" mat-table [dataSource]="dataSourceLotexProveedor"
                                class="mat-elevation-z8 small-table">

                                <!-- Position Column -->
                                <ng-container matColumnDef="lote">
                                    <th mat-header-cell *matHeaderCellDef> Lote </th>
                                    <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="cantidad">
                                    <th mat-header-cell *matHeaderCellDef class="align-right"> Total (Kg) </th>
                                    <td mat-cell *matCellDef="let element" class="align-right"> {{agregarComaMiles( redondearDecimal(element.cantidad,0) )}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="porcentaje">
                                    <th mat-header-cell *matHeaderCellDef class="align-right"> % Consumo </th>
                                    <td mat-cell *matCellDef="let element" class="align-right"> {{ element.porcentaje }}% </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (dblclick)="loadDialogConsumoProveedorDetalle(row)" ></tr>
                            </table>
                            <mat-spinner *ngIf="loadingLotexProveedor"></mat-spinner>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

         <div class="totals-container">
            <div class="total total-lote">Totales</div>  
            <div class="total total-cantidad">{{ agregarComaMiles( redondearDecimal(getTotalKG(),0) ) }}</div>
            <div class="total total-porcentaje">{{ redondearDecimal(getTotalPorcentaje(), 0) }}%</div>
        </div> 
       
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button mat-dialog-close>Salir</button>
    </mat-dialog-actions>

</div>