.color {
  border: 2px solid #BEC5C7;
}

.fecha-cell {
  white-space: nowrap;
}

.content {
  padding-top: 20px;
  padding-left: inherit;
  padding-right: inherit;
  max-height: calc(100vh - 150px); /* Limita la altura del diálogo */
  overflow: hidden; /* Evita que se agregue un scroll extra aquí */
}

.table-container {
  max-height: calc(60vh - 185px); /* Ajusta la altura máxima de la tabla */
  overflow-y: auto; /* Aquí va el scroll solo para la tabla */
}

.titulo {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 1px 20px 0px;
  background-color: #B5D6EC;
}

.example-spacer {
  flex: 1 1 auto;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.mat-header-cell,
.mat-cell {
  padding-left: 2px;
  padding-right: 2px;
}

.icon-button img {
  width: 33px;
  height: auto;
  margin-right: 3px;
}

.center-loading-table {
  text-align: -webkit-center;
}

.totals-container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.total {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}

.total-nro {
  flex-grow: 0.5;
}

.total-nombre {
  flex-grow: 2;
}

.total-kg {
  flex-grow: 1;
  padding-right: 45px;
}

.total-porcentaje {
  flex-grow: 1.7;
  padding-left: 15px;
}

.align-right {
  text-align: right;
}

.button-spacing {
  margin-right: 10px;
}
