
<div class="container">

    <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle></h1>

    <mat-dialog-content class="content">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="color">
                    <mat-card-header class="titulo">
                        <mat-card-title >DETALLE DE INGRESOS DE PRODUCCIÓN POR ARTÍCULO: {{this.articulo}}</mat-card-title>
                        <span class="example-spacer"></span>
                        <button mat-button class="icon-button" (click)="exportTableToExcel()">

                            <mat-icon>save_alt</mat-icon>
                            Exportar
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="table-container center-loading-table">                           

                            <table *ngIf="!loadingDetalleHiloxArticulo" mat-table [dataSource]="dataSourceDetalleHiloxArticulo" class="mat-elevation-z8 small-table vertical">

                                <ng-container matColumnDef="lote_hijo">
                                    <th mat-header-cell *matHeaderCellDef> LOTE HIJO </th>
                                    <td mat-cell *matCellDef="let element"> {{element.lote_hijo}}</td>
                                </ng-container>

                                <ng-container matColumnDef="fecha">
                                    <th mat-header-cell *matHeaderCellDef> FECHA </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fecha}}</td>
                                </ng-container>

                                <ng-container matColumnDef="articulo">
                                    <th mat-header-cell *matHeaderCellDef> ARTÍCULO </th>
                                    <td mat-cell *matCellDef="let element"> {{element.articulo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="desc_articulo">
                                    <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN ARTÍCULO </th>
                                    <td mat-cell *matCellDef="let element"> {{element.desc_articulo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="cantidad">
                                    <th mat-header-cell *matHeaderCellDef> KG NETO </th>
                                    <td mat-cell *matCellDef="let element" class="align-center"> {{agregarComaMiles( (redondearDecimal(element.cantidad,0)))}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="ColumnsDetalleHiloConsumo; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: ColumnsDetalleHiloConsumo;"></tr>
                            </table>
                            <mat-spinner *ngIf="loadingDetalleHiloxArticulo"></mat-spinner>
                        </div>
                        <hr>
                        <div class="totals-container">
                            <div class="total total-nombre">Total</div>  <!-- Columna 'Razón Social' -->
                            <div class="total total-kg">{{ agregarComaMiles( redondearDecimal(getTotalKG(),0) ) }}</div>  <!-- Columna 'Total (Kg)' -->
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button mat-dialog-close>Salir</button>
    </mat-dialog-actions>

</div>

