.color {
    /*background-color: #F0F0F0;*/
    border: 2px solid #BEC5C7;
    
  }

  .fecha-cell {
    white-space: nowrap;  /* Evita el salto de línea */
  }

  .content {
    padding-top: 20px;
    padding-left: inherit;
    padding-right: inherit;
  }

  .table-container {
    max-height: calc(70vh - 185px); /* ajusta la altura máxima según tu preferencia */
    overflow-y: auto;
  }

.titulo {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 1px 20px 0px;
    background-color: #ebd0b0;
}

.example-spacer {
  flex: 1 1 auto;
}

.align-right {
  text-align: right;
}

.mat-header-cell,
.mat-cell {
    padding-left: 2px; /* Ajusta el valor según tus necesidades */
    padding-right: 2px; /* Ajusta el valor según tus necesidades */
}

.icon-button img {
  width: 33px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto; /* Mantén la proporción de la imagen */
  margin-right: 3px; /* Opcional: Añade un espacio entre la imagen y el texto */
}

.center-loading-table {
  text-align: -webkit-center;
}

.totals-container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.total {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}

.total-nro {
  flex-grow: 0.5;
}

.total-nombre {
  flex-grow: 2;
}

.total-kg {
  flex-grow: 1;
}

.total-porcentaje {
  flex-grow: 1.7;
  padding-left: 15px;
}